@page
@model KafeYonetimSistemi.Pages.Admin.Categories.CreateModel

@{
    ViewData["Title"] = "Kategori Oluştur";
}

<h1 class="mb-4">Kategori Oluştur</h1>
<h4 class="fw-bold text-dark mb-3">KATEGORİ</h4>
<hr />

<div class="bordered-form">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Category.Name" class="control-label"></label>
            <input asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Oluştur" class="btn btn-primary" />
            <a asp-page="./Index" class="btn btn-secondary ms-2">Listeye Geri Dön</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
