@page
@model KafeYonetimSistemi.Pages.Admin.Categories.DetailsModel

@{
    ViewData["Title"] = "Kategori Detayları";
}

<h1>Kategori Detayları</h1>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.Id">Düzenle</a> |
    <a asp-page="./Index">Listeye Geri Dön</a>
</div>

