@page
@model KafeYonetimSistemi.Pages.Admin.Categories.DetailsModel

@{
    ViewData["Title"] = "Kategori Detayları";
}

<h1 class="mb-4">Kategori Detayları</h1>

<div class="bordered-form">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <div class="mt-4">
        <a asp-page="./Edit" asp-route-id="@Model.Category.Id" class="btn btn-warning">Düzenle</a>
        <a asp-page="./Index" class="btn btn-secondary ms-2">Listeye Geri Dön</a>
    </div>
</div>
