@page
@model KafeYonetimSistemi.Pages.Admin.Orders.DeleteModel

@{
    ViewData["Title"] = "Siparişi Sil";
}

<h1>Siparişi Sil</h1>

<div class="alert alert-warning text-center" role="alert" style="font-size: 1.2rem; margin-bottom: 20px;">
    <strong>Bu kaydı silmek istediğinize emin misiniz?</strong>
</div>

<div>
    <h4>Sipariş</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Order.Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </form>
</div>